.logo-img {
    border-radius: 50%;
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 118, 1) 0%, rgba(0, 212, 255, 1) 74%);
}

.container {
    display: flex;
}

.hero {
    display: flex;
    height: 50vh;
    width: 100vh;
    margin: auto;
    background-color: rgba(165, 165, 165, .5);
    font-size: 3rem;
    text-align: center;
    align-items: center;
}