.button {
    background-color: rgb(255, 150, 150);
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    font-size: 4rem;
    user-select: none;
    border-radius: 12px;
    box-shadow: 10px 5px 5px black;
    transition: 0.3s;
}

.button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}